
.main-block {
    position:relative;
    bottom: 15rem;
    left: 7.5rem;
    height: 1700px;
    width: 1400px;
}
.title {
    position: relative;
    top: 120px;
    font-size: 75px;
}

.top-menu {
    position: relative;
    top: 2rem;
    left: 58rem;
}
.bottom_photo_text {
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    text-align: center;
    position: relative;
    bottom: 33px;
    width: 1350px;
    font-size: 35px;
    
}
.button-home a {
    color:#f8f6f6;
    background:rgb(70, 70, 243);
    font-size: 24px;
    margin-right: 6px;
    padding: 8px 24px;
    border: 1px solid #101011;
    text-decoration: none;
}
  ul.top-menu li {
    display: inline;
}
.button-about a {
    color: white;
    background: rgb(70, 70, 243);
    font-size: 24px;
    margin-right: 6px;
    padding: 8px 24px;
    border: 1px solid #101011;
    text-decoration: none;
}
.button-contact a {
    color:white;
    background: rgb(70, 70, 243);
    font-size: 24px;
    padding: 8px 20px;
    border: 1px solid #101011;
    text-decoration: none;
}
.logo-photo{
    float: left;
    position:relative;
    top:2rem;
}
.section-info_home {
    float: left;
    position:relative;
    bottom: 0rem;
    left: 5rem;
    font-size: 32px;
}   
.section-info_about {
    float: left;
    position:relative;
    bottom: 38px;
    left: 4rem;
    font-size: 24px;
}
.section-info_contact {
    float: left;
    position:relative;
    bottom: 0rem;
    left: 2rem;
    font-size: 38px;
}
.header{
    position:relative;
    top:3rem;
}
body {
    margin: 10rem 10rem 10rem 10rem;
    padding: 0px;
    border: 0px;
}.mission{
    margin-top:-1em;
}.vision{
    margin-top:-1em;
}.general-information{
    margin-top:-1em;
}





