<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>NorCal Time Trials Series</title>


<link rel="stylesheet" a href="../asset/style/nctss_2.css">

</head>

<body>
<div class="main-block">
    <div class="top-section">
    <section class="header">
        <h1 class="title">NorCal Time Trial Series</h1>
        <nav>
            <ul class="top-menu">
                <li class="button-home"><a href="./home_2.html">Home </a></li>
                <li class="button-about btn"><a style="background-color: green" href="./about_2.html">About </a></li>
                <li class="button-contact"><a href="./contact_2.html">Contact</a></li>
            </ul>
        </nav>
        <div>
            <img class="photo-car"src="../asset/media/imagen_task_2.jpeg" height="900 px"
            width="1354 px">
            <h2 class="bottom_photo_text">About NCTTS</h2>
         </div>
    </section>
    </div>
     <div class="bottom-section">
        <img class="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" height="220 px" width="220 px">
    
    <div class="section-info_about">
     <h3>&nbsp;&nbsp;&nbsp;Mission</h3>
    
     <p class="mission">&nbsp;&nbsp;&nbsp;To quote https://24hoursoflemons.com/:<br>&nbsp;&nbsp;&nbsp;“Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p>
         
     <h3>&nbsp;&nbsp;&nbsp;Vision</h3>
     <p class="vision">&nbsp;&nbsp;&nbsp;The NorCal Time Trial Series aspires to make the excitement of competitive <br>&nbsp;&nbsp;&nbsp;racing events on iconic Northern California racetracks available to all <br>&nbsp;&nbsp;&nbsp;enthusiasts without the costs or risks of wheel-to-wheel racing.
     </p>
     <h3>&nbsp;&nbsp;&nbsp;General information</h3>
     <p class="general-information">&nbsp;&nbsp;&nbsp;The NorCal Time Trial Series will hold at least one event per month on a <br>&nbsp;&nbsp;&nbsp;track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech <br>&nbsp;&nbsp;&nbsp;Raceway at Laguna Seca. Full safety equipment is required, and your car <br>&nbsp;&nbsp;&nbsp;must pass technical inspection before you can compete.</p>
    </div>
    </div>
</div>
</body>

</html>