<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Norcal Time Trials Series</title>


<link rel="stylesheet" a href="../asset/style/nctss_2.css">

</head>

<body>
<div class="main-block">
    <div class="top-section">
    <section class="header">
        <h1 class="title">NorCal Time Trial Series</h1>
        <nav>
            <ul class="top-menu">
                <li class="button-home"><a href="./home_2.html">Home </a></li>
                <li class="button-about"><a  href="./about_2.html">About </a></li>
                <li class="button-contact"><a style="background-color: green" href="./contact_2.html">Contact</a></li>
            </ul>
        </nav>
        <div>
            <img src="../asset/media/imagen_task_2.jpeg" height="900 px"
           width="1354 px">
           <h2 class="bottom_photo_text">Contact Us</h2>
       </div>
    </section>
    </div>
   
   
    
   
    <div class="bottom-section">
        <img class="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" height="220 px" width="220 px">
        <div class="section-info_contact">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please email us at: <a href="mailto:info@nctts.org ">info@nctts.org </a> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We will reply as quickly as we can.
        </p>
        </div>
    </div>
</div>
</body>

</html>
