<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NorCal Time Trial Series</title>
    <link rel="stylesheet" a href="../asset/style/nctss_2.css">
</head>

<body>
<div class="main-block">  
    <div class="top-section">
    <section class="header">
        <h1 class="title">NorCal Time Trial Series</h1>
        <div >
        <nav>
            <ul class="top-menu">
                <li  class="button-home" ><a style="background-color: green" href="./home_2.html">Home </a></li>
                <li class="button-about" ><a href="./about_2.html">About </a></li>
                <li class="button-contact" ><a href="./contact_2.html">Contact</a></li>
            </ul>
        </nav>
        </div>
        <div>
            <img src="../asset/media/imagen_task_2.jpeg" height="900 px"
           width="1354 px">
           <h2 class="bottom_photo_text">Upcoming Events</h2>
       </div>
    </section>
    </div>
        <div class="bottom-section">
            <img class="logo-photo" src="../asset/media/LOGO-fc6fecfc.png" height="220 px" width="220 px">
        
        <div class="section-info_home">
            <p>&nbsp;&nbsp;&nbsp;February 12 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Board Meeting </p>
       
            <p>&nbsp;&nbsp;&nbsp;February 25 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting</p>
      
            <p>&nbsp;&nbsp;&nbsp;March 12 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Event at Thunderhill!</p>
            
        </div>
        </div>
    
    

     
        
 
</div> 
</body>
</html>